
/* App */

main {
  background:
    linear-gradient(
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.0)
      ),
    image_url('ingredients-background.jpeg');
  background-size: cover;
}

div.app-wrapper {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  z-index: 5;
  margin-bottom: 50px !important;
}

/* Basket */

.grocery-item-quantity,
.grocery-item-name {
  font-size: 1.3em
}

.basket-grid {
  border: 1px solid #c0c0c0;
  border-radius: 7px;
  background: #f0f0f0;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  width: 500px;
  margin: 0 auto;
}

span.grocery-item-quantity {
  margin-left: 1.25em;
}

.grocery-item-grid-column {
  padding: 0 !important;
  padding-left: 1em !important;
  vertical-align: middle;
}

.ui.horizontal.list > .item {
  margin-left: 0 !important;
}

/* UI */

.add-item-input {
  width: 350px;
}

.add-item-input > input {
  width: 100%;
}

button.clear-basket-button {
  margin-top: 2em !important;
}

/* Footer */

.footer {
  position: absolute;
  top: 5px;
  right: 5px;

  background: #c0c0c0;
  color: #000000;
  padding: 3px 10px;
  border-radius: 6px;
  box-shadow: 0 0 10px gray;
}
